*{
    font-family: "Palatino Linotype", "Book Antiqua", serif;
}

body{
    /*background-color: rgb(231, 230, 205);*/
    background-color: #333333;
  
}
.Day{
    background: linear-gradient(0deg, rgb(255, 72, 0),rgb(255, 251, 0));
    height: 120vh;
}
.Night{
    background: linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0%, rgba(47, 47, 47, 0.08) 90%,rgba(75, 75, 75, 0.08) 90%, rgba(75, 75, 75, 0.08) 100%),linear-gradient(45deg, rgba(172, 172, 172, 0.1) 0%, rgba(172, 172, 172, 0.1) 65%,rgba(18, 18, 18, 0.1) 65%, rgba(18, 18, 18, 0.1) 100%),linear-gradient(90deg, rgba(157, 157, 157, 0.04) 0%, rgba(157, 157, 157, 0.04) 83%,rgba(198, 198, 198, 0.04) 83%, rgba(198, 198, 198, 0.04) 100%),linear-gradient(0deg, rgba(189, 189, 189, 0.07) 0%, rgba(189, 189, 189, 0.07) 22%,rgba(127, 127, 127, 0.07) 22%, rgba(127, 127, 127, 0.07) 100%),linear-gradient(0deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 34%,rgba(96, 96, 96, 0.03) 34%, rgba(96, 96, 96, 0.03) 100%),linear-gradient(135deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 68%,rgba(192, 192, 192, 0.05) 68%, rgba(192, 192, 192, 0.05) 100%),linear-gradient(0deg, rgba(62, 62, 62, 0.08) 0%, rgba(62, 62, 62, 0.08) 99%,rgba(114, 114, 114, 0.08) 99%, rgba(114, 114, 114, 0.08) 100%),linear-gradient(0deg, rgba(227, 227, 227, 0.07) 0%, rgba(227, 227, 227, 0.07) 83%,rgba(129, 129, 129, 0.07) 83%, rgba(129, 129, 129, 0.07) 100%),linear-gradient(45deg, rgba(27, 27, 27, 0.1) 0%, rgba(27, 27, 27, 0.1) 27%,rgba(58, 58, 58, 0.1) 27%, rgba(58, 58, 58, 0.1) 100%),linear-gradient(90deg, rgb(107, 107, 107),rgb(2, 2, 2));
    height: 120vh;
}
.CyberForest{
    background: linear-gradient(45deg, rgba(177, 251, 187, 0.45) 0%, rgba(177, 251, 187, 0.45) 25%,rgba(137, 190, 137, 0.45) 25%, rgba(137, 190, 137, 0.45) 50%,rgba(97, 129, 88, 0.45) 50%, rgba(97, 129, 88, 0.45) 75%,rgba(57, 68, 38, 0.45) 75%, rgba(57, 68, 38, 0.45) 100%),linear-gradient(135deg, rgb(11, 88, 21) 0%, rgb(11, 88, 21) 25%,rgb(27, 138, 47) 25%, rgb(27, 138, 47) 50%,rgb(44, 188, 74) 50%, rgb(44, 188, 74) 75%,rgb(60, 238, 100) 75%, rgb(60, 238, 100) 100%);
    height: 120vh;
}
.Sunburst{
    background: linear-gradient(4deg, rgba(193, 193, 193, 0.01) 0%, rgba(193, 193, 193, 0.01) 50%,rgba(179, 179, 179, 0.01) 50%, rgba(179, 179, 179, 0.01) 100%),linear-gradient(104deg, rgba(6, 6, 6, 0.02) 0%, rgba(6, 6, 6, 0.02) 50%,rgba(9, 9, 9, 0.02) 50%, rgba(9, 9, 9, 0.02) 100%),linear-gradient(167deg, rgba(37, 37, 37, 0.01) 0%, rgba(37, 37, 37, 0.01) 50%,rgba(219, 219, 219, 0.01) 50%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(59deg, rgba(176, 176, 176, 0.03) 0%, rgba(176, 176, 176, 0.03) 50%,rgba(133, 133, 133, 0.03) 50%, rgba(133, 133, 133, 0.03) 100%),linear-gradient(180deg, rgba(30, 30, 30, 0.02) 0%, rgba(30, 30, 30, 0.02) 50%,rgba(252, 252, 252, 0.02) 50%, rgba(252, 252, 252, 0.02) 100%),linear-gradient(228deg, rgba(219, 219, 219, 0.02) 0%, rgba(219, 219, 219, 0.02) 50%,rgba(107, 107, 107, 0.02) 50%, rgba(107, 107, 107, 0.02) 100%),linear-gradient(182deg, rgba(242, 242, 242, 0.02) 0%, rgba(242, 242, 242, 0.02) 50%,rgba(177, 177, 177, 0.02) 50%, rgba(177, 177, 177, 0.02) 100%),linear-gradient(340deg, rgba(51, 51, 51, 0.03) 0%, rgba(51, 51, 51, 0.03) 50%,rgba(176, 176, 176, 0.03) 50%, rgba(176, 176, 176, 0.03) 100%),linear-gradient(90deg, rgb(243, 98, 95),rgb(213, 125, 10)); 
    height: 120vh;
}
.SurfTheWeb{
    background: linear-gradient(45deg, rgb(11, 45, 126) 0%, rgb(11, 45, 126) 10%,rgb(21, 87, 153) 10%, rgb(21, 87, 153) 10%,rgb(30, 129, 181) 45%, rgb(30, 129, 181) 61%,rgb(40, 170, 208) 61%, rgb(40, 170, 208) 67%,rgb(49, 212, 235) 67%, rgb(49, 212, 235) 100%); 
    height: 120vh;
}

h1{
    font-size: 300%;
    text-align: center;
    color: white;
}
.textcolor{
    color: white;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
    margin: auto;
}

.selectMenu{
    position: fixed;
    right: 0px;
    margin-right: 5%;
}

.square1{
    text-align: center;
    position: relative;
    left: 0%;

    background-color: white;
    width: 370px;
    height: 24px;

    border: 3px solid black;
    border-radius: 30px;
}

.blackText{
    color:black;
    position: relative;
    top: -100px;
}

.positionUp{
    position: relative;
    top: -100px;
}

